@model List<ResultProductsWithRates>

@functions {
    public string GenerateStars(double rating)
    {
        string stars = "";
        for (int i = 1; i <= 5; i++)
        {
            if (rating >= i)
            {
                stars += "<p class='fas fa-star' style='color:#f0ad4e'></p>";
            }
            else if (rating >= i - 0.5)
            {
                stars += "<p class='fas fa-star-half-alt' style='color:#f0ad4e'></p>";
            }
            else
            {
                stars += "<p class='far fa-star' style='color:#f0ad4e'></p>";
            }
        }
        return stars;
    }
}

<div class="pt-5 pb-3">
    <h2 class="section-title position-relative mb-4"><span class="bg-secondary pr-3">Best Sellers</span></h2>
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/img/products/@item.ImageUrl" alt="" style="height:300px;object-fit:cover">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="/ProductList/ProductDetail/@item.ProductId">@item.Name</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$@item.Price</h5><h6 class="text-muted ml-2"><del>$@(item.Price + 150)</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            @Html.Raw(GenerateStars(item.AverageRate))
                            <p>(@item.TotalComments)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
