
<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>2024 &copy; Ollie Lab. LTD.ŞTİ.</p>
        </div>
        <div class="float-end">
            <p>
                Ollie Shop User Panel
            </p>
        </div>
    </div>
</footer>
