
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<style>
    .rating-stars {
        display: flex;
        gap: 5px;
    }

        .rating-stars .fa-star {
            cursor: pointer;
            font-size: 1.5rem;
            color: #f0ad4e;
        }

            .rating-stars .fa-star:hover,
            .rating-stars .fa-star:hover ~ .fa-star {
                color: #ddd;
            }

    .comment-form .form-group {
        margin-bottom: 1.5rem;
    }

    .comment-form textarea {
        resize: none;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        padding: 10px;
        font-size: 1rem;
    }

    .comment-form button {
        display: block;
        width: 100%;
        font-weight: 600;
        background-color: #343a40;
        color: #fff;
    }

        .comment-form button:hover {
            background-color: #495057;
        }

    .media {
        border-bottom: 1px solid #e9ecef;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

        .media img {
            border-radius: 50%;
        }

    .media-body h6 {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .media-body small {
        color: #adb5bd;
    }

    .alert-primary {
        background-color: #cce5ff;
        color: #004085;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumb bg-dark mb-30 mt-4 rounded">
                <a class="breadcrumb-item text-light" href="#">Home</a>
                <a class="breadcrumb-item text-light" href="#">Shop</a>
                <span class="breadcrumb-item text-light active ">Shop Detail</span>
            </nav>
        </div>
    </div>
</div>

<div class="container pb-5">
    <div class="row">
                                  
        @await Component.InvokeAsync("_ProductDetailImageSliderComponentPartial", new { id = ViewBag.ProductId })
        @await Component.InvokeAsync("_ProductPreviewComponentPartial", new { id = ViewBag.ProductId })

    </div>
    <div class="row">
        <div class="col">
            <div class="bg-light p-30 rounded">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active rounded" data-toggle="tab" href="#tab-pane-1">Description</a>
                    <a class="nav-item nav-link text-dark rounded" data-toggle="tab" href="#tab-pane-2">Information</a>
                    <a class="nav-item nav-link text-dark rounded" data-toggle="tab" href="#tab-pane-3">Reviews (@ViewBag.RateCount)</a>
                </div>
                <div class="tab-content">
                    @await Component.InvokeAsync("_ProductDescriptionComponentPartial", new { id = ViewBag.ProductId })
                    @await Component.InvokeAsync("_ProductInformationComponentPartial", new { id = ViewBag.ProductId })
                    @await Component.InvokeAsync("_ProductReviewsComponentPartial", new { id = ViewBag.ProductId })
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("_AlsoLikeProductsComponentPartial")




