
<div class="pt-5">
    <h2 class="section-title position-relative mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
    <div class="row pb-3">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item d-flex align-items-center mb-4 rounded">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid rounded" src="~/img/categories/tshirt.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>T-Shirts</h6>
                        <small class="text-body">14 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none rounded" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4 rounded">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="~/img/categories/hoodie.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Hoodies</h6>
                        <small class="text-body">9 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4 rounded">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid rounded" src="~/img/categories/jacket.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Jackets</h6>
                        <small class="text-body">18 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4 rounded">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid rounded" src="~/img/categories/necklace.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Necklaces and Chains</h6>
                        <small class="text-body">25 Products</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
