@model List<ResultCategoryDto>
@{
    int count = 5;
}

<div class="pt-5">
    <h2 class="section-title position-relative mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
    <div class="row pb-3">
        @foreach(var item in Model)
        {
            count += 8;
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="">
                    <div class="cat-item d-flex align-items-center mb-4 rounded">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid rounded" src="~/img/categories/@item.ImageUrl" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6>@item.Name</h6>
                            <small class="text-body">@count Products</small> 
                        </div>
                    </div>
                </a>
            </div>
        }
        
    </div>
</div>
