@{
    ViewData["Title"] = "Security";
    Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
}

<link rel="stylesheet" href="~/css/userSecurity.css" />

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last my-3">
                <h3>Security</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">User Panel</a></li>
                        <li class="breadcrumb-item active" aria-current="Orders">Security</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div>
            <div class="row">
                <div class="col-lg-8">
                    <!-- Change password card-->
                    <div class="card mb-4">
                        <div class="card-header">Change Password</div>
                        <div class="card-body">
                            <form asp-action="ChangePassword" method="post">
                                <!-- Form Group (current password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="currentPassword">Current Password</label>
                                    <input class="form-control" id="currentPassword" name="CurrentPassword" type="password" placeholder="Enter current password" required>
                                </div>
                                <!-- Form Group (new password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="newPassword">New Password</label>
                                    <input class="form-control" id="newPassword" name="NewPassword" type="password" placeholder="Enter new password" required>
                                </div>
                                <!-- Form Group (confirm password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                                    <input class="form-control" id="confirmPassword" name="ConfirmPassword" type="password" placeholder="Confirm new password" required>
                                </div>
                                <button class="btn btn-primary" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                    <!-- Security preferences card-->
                    <div class="card mb-4">
                        <div class="card-header">Security Preferences</div>
                        <div class="card-body">
                            <!-- Account privacy options-->
                            <h5 class="mb-1">Account Privacy</h5>
                            <p class="small text-muted">By setting your account to private, your profile information and posts will not be visible to users outside of your user groups.</p>
                            <form>
                                <div class="form-check">
                                    <input class="form-check-input" id="radioPrivacy1" type="radio" name="radioPrivacy" checked="">
                                    <label class="form-check-label" for="radioPrivacy1">Public (posts are available to all users)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="radioPrivacy2" type="radio" name="radioPrivacy">
                                    <label class="form-check-label" for="radioPrivacy2">Private (posts are available to only users in your groups)</label>
                                </div>
                            </form>
                            <hr class="my-4">
                            <!-- Data sharing options-->
                            <h5 class="mb-1">Data Sharing</h5>
                            <p class="small text-muted">Sharing usage data can help us to improve our products and better serve our users as they navigate through our application. When you agree to share usage data with us, crash reports and usage analytics will be automatically sent to our development team for investigation.</p>
                            <form>
                                <div class="form-check">
                                    <input class="form-check-input" id="radioUsage1" type="radio" name="radioUsage" checked="">
                                    <label class="form-check-label" for="radioUsage1">Yes, share data and crash reports with app developers</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="radioUsage2" type="radio" name="radioUsage">
                                    <label class="form-check-label" for="radioUsage2">No, limit my data sharing with app developers</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Two factor authentication card-->
                    <div class="card mb-4">
                        <div class="card-header">Two-Factor Authentication</div>
                        <div class="card-body">
                            <p>Add another level of security to your account by enabling two-factor authentication. We will send you a text message to verify your login attempts on unrecognized devices and browsers.</p>
                            <form>
                                <div class="form-check">
                                    <input class="form-check-input" id="twoFactorOn" type="radio" name="twoFactor" checked="">
                                    <label class="form-check-label" for="twoFactorOn">On</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="twoFactorOff" type="radio" name="twoFactor">
                                    <label class="form-check-label" for="twoFactorOff">Off</label>
                                </div>
                                <div class="mt-3">
                                    <label class="small mb-1" for="twoFactorSMS">SMS Number</label>
                                    <input class="form-control" id="twoFactorSMS" type="tel" placeholder="Enter a phone number" value="555-123-4567">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Delete account card-->
                    <div class="card mb-4">
                        <div class="card-header">Delete Account</div>
                        <div class="card-body">
                            <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
                            <form asp-action="DeleteAccount" method="post">
                                <button class="btn btn-danger-soft text-danger" type="submit">I understand, delete my account</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>