
.modal-content {
    border-radius: 15px;
    overflow: hidden;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 1.5rem 1rem;
}

.modal-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-close {
    background: none;
    border: none;
}

.modal-body {
    padding: 2rem;
}

.form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-select {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.btn-outline-dark {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-outline-dark:hover {
        background-color: #343a40;
        color: #fff;
    }

