@model List<ResultOfferDto>

<div class="pt-5 pb-3">
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid rounded" src="~/img/offers/@item.ImageUrl" alt="">
                    <div class="offer-text">
                        <h3 class="text-white mb-3">@item.Title</h3>
                        <p class="text-white ">@item.SubTitle</p>
                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp rounded" href="/ProductList/Index">Shop Now</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
