
<div class="pt-5 pb-3">
    <div class="row">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid rounded" src="~/img/offers/offer1.jpg" alt="">
                <div class="offer-text">
                    <h3 class="text-white mb-3">Summer Sale!</h3>
                    <p class="text-white ">Get up to 50% off on selected items. Limited time only!</p>
                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp rounded" href="#">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid rounded" src="~/img/offers/offer2.jpg" alt="">
                <div class="offer-text">
                    <h3 class="text-white mb-3">Exclusive Offer!</h3>
                    <h6 class="text-white">Buy 2, get 1 free on all jewelry. Don't miss out!</h6>
                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp rounded" href="#">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
