
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<link href='~/css/aboutUs.css' rel='stylesheet'>
@* <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"> *@

<div id="hero-section">
    @* <h1>About Us</h1> *@
</div>

<div id="about-container">
    <div id="about-content">
        <h2>Welcome to Ollie Shop</h2>
        <p>
            At Ollie Shop, we are passionate about fashion and dedicated to bringing you the latest trends with a touch of elegance and style.
            Our mission is to provide high-quality clothing that not only looks great but also makes you feel confident and comfortable.
            Every piece in our collection is carefully curated to meet the needs of our diverse clientele, ensuring that there is something for everyone.
        </p>
    </div>

    <div id="about-content">
        <h2>Meet Our Team</h2>
        <div id="team-section">
            <div class="team-member">
                <img src="~/img/avatars/1.png" alt="Team Member 1">
                <h3>Emre Yılmaz</h3>
                <p>Founder & CEO</p>
                <ul id="social-icons">
                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                    <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                </ul>
            </div>

            <div class="team-member">
                <img src="~/img/avatars/2.png" alt="Team Member 2">
                <h3>Jane Smith</h3>
                <p>Creative Director</p>
                <ul id="social-icons">
                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                    <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                </ul>
            </div>

            <div class="team-member">
                <img src="~/img/avatars/3.png" alt="Team Member 3">
                <h3>Mike Johnson</h3>
                <p>Marketing Head</p>
                <ul id="social-icons">
                    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                    <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    // You can add JS for animations or interactivity if needed
</script>



