@{
    <link rel="stylesheet" href="~/css/carousel.css" />
}

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col">
            <div class="owl-carousel vendor-carousel container">
                <div class="p-4">
                    <img src="~/img/brands/adidas.png" alt="Adidas">
                </div>
                <div class="p-4">
                    <img src="~/img/brands/puma.png" alt="Puma">
                </div>
                <div class="p-4">
                    <img src="~/img/brands/nike.png" alt="Nike">
                </div>
                <div class="p-4">
                    <img src="~/img/brands/hummel.png" alt="Hummel">
                </div>
                <div class="p-4">
                    <img src="~/img/brands/columbia.png" alt="Columbia">
                </div>
                <div class="p-4">
                    <img src="~/img/brands/jackjones.png" alt="Jack & Jones">
                </div>
                <div class="p-4">
                    <img src="~/img/brands/mavi.png" alt="Mavi">
                </div>
            </div>
        </div>
    </div>
</div>
