@model List<ResultVendorDto>

@{
    <link rel="stylesheet" href="~/css/carousel.css" />
}

<div class="">
    <div class="container">
        <h2 class="section-title position-relative mb-4"><span class="bg-secondary pr-3">Partners</span></h2>
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col">
            <div class="owl-carousel vendor-carousel container">
                @foreach(var item in Model)
                {
                    <div class="p-4">
                        <img src="~/img/brands/@item.ImageUrl" alt="@item.Name">
                    </div>
                }
            </div>
        </div>
    </div>
</div>
