
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
    <link rel="stylesheet" href="~/css/shoppingCart.css" />
}

@* <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> *@

<div class="container" id="shoppingCart">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>1</strong>) items</span>
                        <h5>Shopping Cart</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                    <tr>
                                        <td width="90">
                                            <div class="cart-product-imitation">
                                                <img class="w-100" src="~/img/products/product1/4.png" alt="Image">
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="#" class="text-navy">
                                                    Navy Blue Polo T-Shirt
                                                </a>
                                            </h3>
                                            <p class="small">
                                                Experience ultimate comfort and timeless style with our Navy Blue Polo T-Shirt. Perfect for any occasion, this classic piece is a must-have for your wardrobe.
                                            </p>
                                            <dl class="small m-b-none">
                                                <dt>Size</dt>
                                                <dd>Small (S)</dd>
                                            </dl>

                                            <div class="m-t-sm">
                                                <a href="#" class="text-muted text-decoration-none text-warning"><i class="fa fa-gift"></i> Add gift package</a>
                                                |
                                                <a href="#" class="text-muted text-decoration-none text-danger"><i class="fa fa-trash"></i> Remove item</a>
                                            </div>
                                        </td>

                                        <td>
                                            $599,00
                                            <s class="small text-muted">$659,00</s>
                                        </td>
                                        <td width="90">
                                            <input type="number" class="form-control rounded" placeholder="2">
                                        </td>
                                        <td>
                                            <h4>
                                                $1198,00
                                            </h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
             
                    <div class="ibox-content d-flex justify-content-between">
                        <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>
                        <a class="btn btn-outline-dark pull-right rounded" href="#">Checkout</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                            $1198,00
                        </h2>

                        <hr>
                        <a class="btn btn-outline-dark rounded btn-block btn-sm my-2" href="#">Checkout</a>
                        <span class="text-muted small">
                            *For United States, France and Germany applicable sales tax will be applied
                        </span>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Coupon</h5>
                    </div>
                    <div class="ibox-content ">
                        <div>
                            <input type="text" class="form-control rounded" placeholder="Code">
                            <a class="btn btn-outline-dark rounded btn-block btn-sm my-2" href="#">Apply</a>
                        </div>
              
                        <span class="small text-muted text-center">
                            *Get a discount by entering the coupon code.
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

