@model UpdateProductImageDto

@{
    int imagesCount = Model.Images.Count();
    int count = 0;
}

<div class="col-md-6">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">

            @for (int i = 0; i < imagesCount; i++)
            {
                <li data-bs-target="#carouselExample" data-bs-slide-to="@i" class="@(i == 0 ? "active":"")"></li>
            }

        </ol>
        <div class="carousel-inner">
            @foreach(var item in Model.Images)
            {
                count++;
                <div class="carousel-item @(count == 1 ? "active":"")">
                    <img class="d-block w-100 mh-100" src="~/img/products/@item" alt="slide" style="width:fit-content"/>
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Image - @count</h3>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>

    </div>
</div>
