@model List<ResultFeatureDto>

@{
    <link rel="stylesheet" href="~/css/features.css" />
}

<div class="features-component">
    <div class="features pt-3">
        <div class="row pb-3">
            @foreach(var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="feature-item d-flex align-items-center mb-4 rounded">
                        <h1 class="@item.Icon"></h1>
                        <h5 class="font-weight-semi-bold">@item.Title</h5>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
