
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @await Component.InvokeAsync("_UserLayoutHeadComponentPartial")

    <body>
        <div id="app">
            @await Component.InvokeAsync("_UserLayoutSideBarComponentPartial")

            <div id="main" class='layout-navbar'>
                <header class='mb-3'>
                    @await Component.InvokeAsync("_UserLayoutNavbarComponentPartial")
                </header>
                <div id="main-content">

                    @RenderBody()

                    @await Component.InvokeAsync("_UserLayoutFooterComponentPartial")

                </div>
            </div>
        </div>

        @await Component.InvokeAsync("_UserLayoutScriptsComponentPartial")
    </body>

</html>


