@model List<ResultFeatureDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> Features</h4>

    <div class="card">
        <h5 class="card-header">Feature Operations</h5>
        @* <p class="px-4 text-muted">On this page, you can manage the features of your e-commerce site. You can add new features, edit existing ones, or delete them.</p> *@
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Icon</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.Title</td>
                            <td>@item.Icon</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/Admin/Feature/UpdateFeature/@item.FeatureId"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="/Admin/Feature/DeleteFeature/@item.FeatureId"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="button" class="btn btn-primary m-4" onclick="window.location.href='/Admin/Feature/CreateFeature/'">
                <span class="tf-icons bx bx-plus-medical"></span>&nbsp; Add Feature
            </button>
        </div>
    </div>
</div>
