
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img class="img-fluid" src="~/img/ollie_dashboard2.png" width="150px" alt="">
            </span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">

        <li class="menu-item">
            <a href="/Default/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home"></i>
                <div data-i18n="Analytics">Home</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/Admin/AdminDashboard/Index" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-dashboard"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>


        <li class="menu-header small text-uppercase"><span class="menu-header-text">Catalog</span></li>

        <li class="menu-item">
            <a href="/Admin/Category/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-category"></i>
                <div data-i18n="Basic">Categories</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/Admin/Offer/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-offer"></i>
                <div data-i18n="Basic">Offers</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/Admin/Carousel/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-carousel"></i>
                <div data-i18n="Basic">Carousels</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/Admin/Vendor/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-store-alt"></i>
                <div data-i18n="Basic">Vendors</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/Admin/Feature/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-hive"></i>
                <div data-i18n="Basic">Features</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/Admin/About/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-message-square-dots"></i>
                <div data-i18n="Basic">Abouts</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="/Admin/Coupon/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-coupon"></i>
                <div data-i18n="Basic">Coupons</div>
            </a>
        </li>
      
   
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-package"></i>
                <div data-i18n="Form Elements">Product Management</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/Admin/Product/Index/" class="menu-link">
                        <div data-i18n="Basic Inputs">Products</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Admin/ProductStock/Index/" class="menu-link">
                        <div data-i18n="Basic Inputs">Stocks</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Admin/Color/Index/" class="menu-link">
                        <div data-i18n="Input groups">Colors</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Admin/Size/Index/" class="menu-link">
                        <div data-i18n="Input groups">Sizes</div>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</aside>
