@{
    ViewData["Title"] = "Payment Success";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<link rel="stylesheet" href="~/css/paymentSuccess.css" />

<div class="container payment-success d-flex align-items-center justify-content-center">
    <div class="row justify-content-center w-100">
        <div class="col-md-8 text-center">

            <div class="alert alert-success text-center shadow-sm rounded-lg p-5" role="alert">
                <img src="~/img/ollie_pay.png" alt="Logo" class="logo img-fluid mb-4" />

                <h4 class="alert-heading display-4">Payment Successful!</h4>
                <p class="lead mt-3">Your payment has been processed successfully. Thank you for your purchase.</p>
                <hr />
                <p class="mb-0">You can view your order details or continue shopping.</p>

                <div class="text-center mt-4">
                    <a href="@Url.Action("Index", "OrderHistory")" class="btn btn-custom btn-lg me-3">View Order Details</a>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-custom-secondary btn-lg">Continue Shopping</a>
                </div>
            </div>
            
        </div>
    </div>
</div>

