<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="/User/UserDashboard/Index"><img class="img-fluid" src="~/img/ollie_userpanel.png" width="150px" alt=""></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">

                <li class="sidebar-item">
                    <a href="/Default/Index" class='sidebar-link'>
                        <i class="bi bi-house-door-fill"></i>
                        <span>Home</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="/User/UserDashboard/Index" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-title">Manage Orders</li>

                <li class="sidebar-item">
                    <a href="/User/Orders/Index" class='sidebar-link'>
                        <i class="bi bi-bag-fill"></i>
                        <span>Orders Overview</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/User/UserCargo/Index" class='sidebar-link'>
                        <i class="bi bi-map"></i>
                        <span>Shipments</span>
                    </a>
                </li>

                <li class="sidebar-title">Account Settings</li>

                <li class="sidebar-item">
                    <a href="/User/Profile/Index" class='sidebar-link'>
                        <i class="bi bi-person-fill"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/User/Security/Index" class='sidebar-link'>
                        <i class="bi bi-shield-lock-fill"></i>
                        <span>Security</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/User/Addresses/Index" class='sidebar-link'>
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>Addresses</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/User/Notifications/Index" class='sidebar-link'>
                        <i class="bi bi-bell-fill"></i>
                        <span>Notifications</span>
                    </a>
                </li>

                <li class="sidebar-title">Help & Support</li>

                <li class="sidebar-item">
                    <a href="/FAQ/Index" class='sidebar-link'>
                        <i class="bi bi-question-circle-fill"></i>
                        <span>FAQ</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/Contact/Index" class='sidebar-link'>
                        <i class="bi bi-envelope-fill"></i>
                        <span>Contact Support</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>


